#center  {
  text-align: center;
}

 

 
.App  {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* float: left; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2rem;
}

.App-link {
  color: #61dafb;
}
 

._wrapper_2, ._p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* row-gap: 1rem; */
  width: 120px;
}
